body{
    background-color: #F5F7F6;
}

.navbarTextSize{
    padding-left: 1vw;
    font-size: 2em;
}

.img-fluid{
    height: auto;
    max-width: 35%;
}

.cardNoMove{
    max-height: 25rem;
    max-width: 20rem;
}