body{
    background-color: #F7FFF7;
}

.navbarTextSize{
    font-size: 2em;
}

.navbar-style{
    /* background-color: transparent; */
       background-color: teal;
}

.img-fluid{
    height: auto;
    max-width: 35%;
}

.controllers-pages{
    color: #FF6B6B;
}

.responsive-text{
    font-size: 1rem;
}

.cardNoMove{
    height: auto;
    max-height: 18rem;
    min-width: 5rem;
    max-width: 18rem;
    background-color: #1A535C;
}

.spin-big {
    color: #FF6B6B;
    height: 15rem;
    width: 15rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    top: 20rem;
  }

  .carousel-buttons {
    background-color: transparent;
    padding: 0px;
    border: 0px;
    outline: 0 !important;
    max-height: 8rem;
    max-width: 8rem;
    width: 100%;
    align-items: center;
    cursor: pointer;
    
  }


  .carousel-buttons.right{
    right: 2%;
  }

  .carousel-buttons.left{
    left: 2%;
  }


  .carousel-indicators > li {
    border-radius: 50%;
    bottom: 50px;
    width: 17px;
    height: 17px;
  }